@import url(./__container/popup__container.css);
@import url(./__title/popup__title.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__form/popup__form.css);
@import url(./__name/popup__name.css);
@import url(./__about/popup__about.css);
@import url(./__save-button/popup__save-button.css);

.popup{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
}

.popup_active{
  display: flex;
}