@import url(./vendor/normalize.css);
@import url(./fonts/inter.css);
@import url(./blocks/body/body.css);
@import url(./blocks/page/page.css);
@import url(./blocks/button/button.css);
@import url(./blocks/header/header.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/places/places.css);
@import url(./blocks/place/place.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/button/button.css);

.body {
    background-color: #000000;
    box-sizing: border-box;
}

.page {
    max-width: 1280px;
    display: flex;
    flex-flow: column;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 200px;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    }

    @media (max-width: 1024px){
    .page {
        padding: 0 100px;
    }
}

@media (max-width: 768px){
    .page {
        padding: 0 45px;
    }
}

@media (max-width: 320px){
    .page {
        padding: 0 19px;
    }
}


.header {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #545454;
}

@media (max-width: 768px){
  .header {
    margin-top: 28px;
  }
}


.header__title{
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  margin-bottom: 41px;
}

@media (max-width: 425px){
  .header__title{
    font-size: 25px;
    margin-bottom: 31.6px;
  }  
}


.header__subtitle{
  margin: 0;
  font-size: 12px;
}

@media (max-width: 425px){
  .header__subtitle{
    font-size: 8px;
  }  
}

.profile{
  display: flex;
  flex-direction: row;
  margin-top: 36.25px;
}

@media (max-width: 1024px){
  .profile {
    flex-direction: column;
    align-items: center;
  }
}

.profile__avatar{
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 100%;
}

.profile__info{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: auto;
  align-self: center;
}

@media (max-width: 1024px){
  .profile__info{
    margin-right: 0;
    margin-bottom: 32px;
  }
}

.profile__name-container{
  display: flex;
  flex-direction: row;
  width: 100%; 
  align-items: baseline;
}

.profile__edit-button{
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  margin-left: 18px;
  background-color: #000;
  background-image: url(./images/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  justify-self: flex-start;
}

.profile__name{
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1024px){
  .profile__name{
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 768px){
  .profile__name{
    font-size: 27px;
    line-height: 33px;
  }
}



.profile__about{
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
}

@media (max-width: 1024px){
  .profile__about{
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 768px){
  .profile__about{
    font-size: 14px;
    line-height: 17px;
    }
}

.profile__add-button{
  width: 150px;
  height: 50px;
  align-self: center;
  border: 1px solid #fff;
  background-color: #000;
  background-image: url(./images/Vector2.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}


@media (max-width: 425px){
  .profile__add-button{
    width: 100%;
  }
}

.places{
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  gap: 20px 18px;
  margin-top: 47.25px;
  margin-bottom: 67px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px){
  .places {
    grid-template-columns: repeat(2,minmax(0,1fr));
    margin-bottom: 48px;
  }
}

@media (max-width: 425px){
  .places {
    gap: 20px;
    grid-template-columns: repeat(1,minmax(0,1fr));
  }
}

.place{
  background-color: white;
  color: black;
  border-radius: 10px;
}

.place__photo{
  width: 100%;
  border-radius: 10px;
}

.place__description{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 31px;
  margin-left: 21px;
  margin-right: 15px;
}

.place__heading{
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  max-width: 210px;
  margin-right: auto;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.place__like{
  width: 21px;
  height: 18px;
  background-image: url(./images/Vector3.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: white;
  cursor: pointer;
}


.footer{
  margin-bottom: 60px;
}

@media (max-width: 768px){
  .footer{
    margin-bottom: 36px;
  }
}
.footer__heading{
  color: #545454;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media (max-width: 768px){
  .footer__heading{
    font-size: 14px;
    line-height: 17px;
  }
}

.button:hover{
  opacity: 0.6;
  transition: 0.1s linear 0.1s;
}
