.profile__info{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: auto;
  align-self: center;
  max-width: 60%;
}

@media (max-width: 1024px){
  .profile__info{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 32px;
    max-width: 80%;
  }
}

@media (max-width: 768px){
  .profile__info{
    margin-top: 22.25px;
    margin-bottom: 36px;
    max-width: 100%;
  }
}