@import url(./__photo/place__photo.css);
@import url(./__description/place__description.css);
@import url(./__heading/place__heading.css);
@import url(./__like/place__like.css);
@import url(./__like/_active/place__like_active.css);


.place{
  background-color: white;
  color: black;
  border-radius: 10px;
}