@import url(../place/__photo/place__photo.css);
@import url(../place/__description/place__description.css);
@import url(../place/__heading/place__heading.css);
@import url(../place/__like/place__like.css);

.place{
  background-color: white;
  color: black;
  border-radius: 10px;
}